<h1>Edit the topic</h1>


<form action="/forums/<%= topicInfos._id %>?_method=PATCH" method="post">
	<label>Title: </label><br>
	<textarea name="topic[title]" class="form-box"><%= topicInfos.title %></textarea><br>

	<label>Author: </label><br>
	<textarea name="topic[author]" class="form-box"><%= topicInfos.author %></textarea><br>

	<label>Content:</label><br>
	<textarea name="topic[content]" class="form-box"> <%= topicInfos.content %> </textarea><br> 

<!-- 	<label>Vote Point:</label>
	<input type="radio" name="topic[vote]" value="1"> Good
	<input type="radio" name="topic[vote]" value="0"> bad<br>

	<label>Comment: <%= topicInfos.comment %></label>
	<input type="text"
					name="topic[comment]"
					placeholder="<%= topicInfos.comment %>"> -->



	<input type="submit" value="Click to update">
</form>

<p><%= topicInfos %></h3>
