<h3 >Topic List</h3>

<% topicObjects.forEach(function (object, i) { %>
	<h4>
			<%= object.title %> --- <%= object.content %><br>
			vote point: <%= object.vote %><br>
			comment first: <%= object.comment %>,  
			<a href="/forums/<%= object._id %>/fcomments">other comments</a><br>
			<a href="/forums/<%= object._id %>/fedit">Edit</a>
			<form action="/forums/<%= object._id %>?_method=DELETE" method="post">
				<input type="submit" value="delete">	
			</form>

	</h4>
<% }) %>