<h4><a href="/forums/fnew">Make new topic</a></h4>
<h4><a href="/forums/topicranking">Topic statistics</a></h4>

<div class="col-xs-3 col-md-3">
	<% topicObjects.forEach(function (object, i) { %>
		<h5 class="title" data=<%='a'+ i %>  ><%= object.title  %></h4>
	<% }); %>
</div>

<div class="col-xs-7 col-md-7">
<h3 >Topic List</h3>
	<% topicObjects.forEach(function (object, i) { %>
	<div id=<%='a'+ i %> class="box-padding fcontent hide">
		<h4>
			Author  : <%= object.author %><br>
			Title   : <%= object.title %><br>
			content : <br>
			<div class="box-comments">
				<%= object.content %><br>
			</div>

			vote point: <%= object.vote %><br>
			
			Comments List: <br>	
			<div class="box-comments">	
				<% object.comment.forEach(function (j) {%>
				user: <%=	j.user %><br>
				comment: <%=	j.content %>
				<%	}) %>
			</div>
		  
			<a href="/forumcomments/<%= object._id %>/fcomments">Add point and comments</a><br>
			
			<a href="/forums/<%= object._id %>/fedit">Edit</a>
			<form action="/forums/<%= object._id %>?_method=DELETE" method="post">
				<input type="submit" value="delete">	
			</form>

		</h4>
	</div>
	<% }) %>
</div>











